<div class="container">
    <h1 class="mb-4">Threads</h1>
    <a href="/threads/new" class="btn btn-success">New Thread</a>
</div>


<div class="card mt-4">
    <h2><%= threads.title %></h2>

    <% threads.forEach(thread => { %>
        <div>
            <a href="http://localhost:3000/threads/<%= thread.id %>" style="color:white;"><h3><%= thread.title %></h3></a>
    
            <p>Poster <%= thread.user_name %> <%= moment(thread.createdAt).calendar() %></p>
            
        
        </div>
    <% }) %>
</div>
