<div class="threadDisplay" style="color:white;">
  <h2>
    <%= thread.title %> <small>by <%= thread.user_name %></small>
  </h2>

  <p>
    <strong>
      <%= moment(thread.createdAt).calendar() %>
    </strong>

    <% if(user.id===thread.userId){ %>
      <form method="POST" action="/threads/<%= thread.id %>/?_method=PUT">
        <label>Title</label>
        <input type="text" name="title" value="<%= thread.title %>">
        <label>Content</label>
        <input type="text" name="content" value="<%= thread.content %>">
        <input type="submit">
      </form>
      <form method="POST" action="/threads/<%= thread.id %>/?_method=DELETE">
        <input type="submit" value="Delete">
      </form>
      <% } else { %>
        <% } %>


  </p>

  <p>
    <%= thread.content %>
  </p>

  <hr />


  <div class="comments">
    <% thread.comments.forEach(comment=> { %>
      <div>
        <p>Poster <%= comment.user_name %>
            <%= moment(comment.createdAt).calendar() %>
        </p>
        <p>
          <%= comment.content %>
        </p>
        <% if(user.id===comment.userId){ %>
          <p>
          <form method="POST" action="/threads/<%= thread.id %>/comments/<%= comment.id %>/?_method=PUT">
            <label>Content</label>
            <input type="text" name="content" value="<%= comment.content %>">
            <input type="submit">
          </form>
          <form method="POST" action="/comments/<%= comment.id %>/?_method=DELETE">
            <input type="submit" value="Delete">
          </form>
          </p>
          <% } else { %>
            <% } %>
      </div>
      <% }) %>
  </div>

  <form method="POST" action="/threads/<%= thread.id %>/comments">
    <input type="hidden" id="userName" name="userName" value="<%= thread.user_name %>">
    <input type="hidden" id="userId" name="userId" value="<%= thread.userId %>">
    <label></label>
    <input type="text" name="content">
    <input type="submit">
  </form>

</div>