<div class="comments">
    <h2><%= comments.content %></h2>

    <% comments.forEach(comment => { %>
        <div>
            <a href="http://localhost:3000/threads/<%= comments.threadId %>" style="color:white;"><h3><%= comments.contents %></h3></a>
    
            <p>Poster <%= comments.user_name %> <%= moment(comment.createdAt).calendar() %></p>
            
        
        </div>
    <% }) %>
</div>